:root {
    --color-fond: #F5E9D3;
    --color-text: #4B2E1E;
    --color-bouton: #C9A14A;
    --color-bordure: #BFBFBF;
}

body {
    background: var(--color-fond);
    font-family: 'Cinzel';
    height: 100%;
    display: flex;
    flex-direction: column;
}
