#catalog h1 {
    font-size: 2rem;
    margin: 2rem 2rem 2rem 2rem;
}

#catalog .articles {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr)); /* https://css-tricks.com/a-responsive-grid-layout-with-no-media-queries/ */
    gap: 2rem;
    margin-top: 5rem;
    margin-left: 2rem;
}

/* Bonus : hide all articles after the 3rd one until the user clicks the button to display more */
#catalog .only-display-3-articles article:nth-child(n+4) {
    display: none;
}
#catalog article {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 0.5rem;
}

#catalog article img {
    height: 25rem;
    width: 100%;
    object-fit: cover;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

#catalog article div {
    padding: 2rem;
}
.price {
    text-align: center;
}
footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height: 20vh;
    margin: 3rem 2rem 2rem 2rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

}
.footer_text {
    grid-column: 2 / 4 ;
    grid-row: 2 / 3;
    text-align: center;
    font-size: 1.2rem;
    color: var(--color-text);
}




