:root {
    --color-fond: #F5E9D3;
    --color-text: #4B2E1E;
    --color-bouton: #C9A14A;
    --color-bordure: #BFBFBF;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.logo {
    width: 10%;
    border-radius: 80px;
    margin: 2rem 2rem;
}
.navbar {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
}
.navbar > ul {
    display: flex;
    gap: 2rem;
    margin-right: 3rem;
}
li {
    text-decoration: none;
    font-weight: bold;
    padding: 2rem;
    margin-top: 3rem;
}
.btn {
    background: var(--color-bouton);
    font-size: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
}