:root {
    --color-fond: #F5E9D3;
    --color-text: #4B2E1E;
    --color-bouton: #C9A14A;
    --color-bordure: #BFBFBF;
}

nav {
    background: var(--color-bouton);
    width: 100%;
}

label.title {
    color: #ffffff;
    font-size: 35px;
    line-height: 80px;
    padding: 0 1rem;
    font-weight: bold;
}
.logo {
    width: 2%;
    margin-left: 50%;
    margin-top: -5%;
}

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a {
    color: white;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
}
.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check {
    display: none;
}

@media (max-width: 850px) {
    .checkbtn {
    display: block;
    }
    ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--color-text);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    }
    nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

